@media (max-width: 360px) {
    /* Página blog */
    body.blog .blog-main {
        max-width: 95%;
        padding: 1.5em 1em;
    }

    body.blog .blog-entrada {
        padding: 1em;
    }

    body.blog .blog-entrada h2 {
        font-size: 1.1em;
    }

    body.blog h1 {
        font-size: 1.5em;
        padding: 0 1em;
    }

    body.blog>p {
        padding: 0 1em;
        font-size: 0.9em;
    }
}