@media (max-width: 360px) {
    /* Index page */
    .header-container {
        max-width: 95%;
        padding: 1.5em 1em;
        margin-top: 1em;
        gap: 1em;
    }

    .header-container .logo img {
        max-width: 80px;
    }

    .header-container .menu-navegacion ul {
        flex-direction: column;
        gap: 0.5em;
    }

    body.index main.contenido-principal {
        max-width: 95%;
        padding: 1.5em;
        margin: 0 auto 1.5em;
    }
}