# Project-specific
style.txt

# OS
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

# Editors
.vscode/
.idea/

# Node (posible futuro)
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build outputs
/dist/
/build/
/tmp/
/temp/
*.tmp
*.log

# Sass / SCSS
.sass-cache/
*.map

# Caches
.cache/
.parcel-cache/

# Env files
.env
.env.*

# Misc
*.swp
*.swo