@media (min-width: 361px) and (max-width: 480px) {
    /* Index page */
    .header-container {
        max-width: 90%;
        padding: 1.5em;
        margin-top: 1.5em;
        gap: 1.2em;
    }

    .header-container .logo img {
        max-width: 100px;
    }

    .header-container .menu-navegacion ul {
        flex-direction: column;
        gap: 0.75em;
    }

    body.index main.contenido-principal {
        max-width: 90%;
        padding: 1.5em;
        margin: 0 auto 2em;
    }
}