@media (min-width: 361px) and (max-width: 480px) {
    /* Navbar */
    .navbar {
        padding: 0.5em 1em !important;
    }

    .navbar-logo {
        max-width: 55px;
    }

    .navbar-nav {
        gap: 0.75em !important;
    }

    .navbar .nav-link {
        padding: 0.5em 0.8em !important;
        font-size: 0.95em;
    }
}