@use "../utilities/extended";
@use "../utilities/mixin" as mixin;
@use "../utilities/variables" as v;

.navbar {
    position: relative;
    z-index: 2000;
    background: #ffffff;
}

.navbar .container,
.navbar .container-fluid {
    position: relative;
    z-index: 2001;
}

.heroe {
    position: relative;
    z-index: 0;
}

.navbar {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 2000;
    background: #ffffff; 
}

.navbar .container-fluid {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

/* Fondo del navbar*/
body.sobremi .navbar,
body.desarrollos .navbar,
body.contacto .navbar,
body.blog .navbar {
    background: #8f8f8f;
    background: linear-gradient(90deg, rgba(143, 143, 143, 1) 0%, rgba(255, 255, 255, 1) 27%);
}

.navbar .navbar-brand {
    padding-top: 0;
    padding-bottom: 0;
}

.navbar .navbar-brand .navbar-logo {
    width: 36px;
    height: auto;
    display: inline-block;
    vertical-align: middle;
}

@media (max-width: 480px) {
    .navbar .navbar-brand .navbar-logo {
        width: 28px;
    }
}

/* Estilos de menú */
.menu-navegacion {
    width: 100%;
    padding: 0;
    margin: 0;
}

.menu-navegacion ul {
    @include mixin.flex-center(1.50rem);
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    flex-wrap: wrap;
}

.menu-navegacion a.boton {
    @include mixin.button-base(0.75em, 1.25em, 4px);
    color: inherit;
    font-size: 1.25em;
}

.menu-navegacion a.boton:hover {
    background: v.$gray-100;
}