/* Estilos del navbar de Bootstrap para todas las páginas excepto index */
.navbar {
    padding: 0.5em 1em !important;
    width: 100%;
}

.navbar-logo {
    max-width: 60px;
    height: auto;
    border-radius: 8px;
}