/* -------------------------------
	Base (estilos globales)
	------------------------------- */
@import url("https://fonts.googleapis.com/css2?family=Inter+Tight&display=swap");
html {
    width: 100%;
    overflow-x: hidden; /* asegura que no haya desbordes horizontales */
}
body,
h1,
h2,
h3,
p {
    font-family: "Inter Tight", sans-serif;
}

body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow-x: hidden;
    padding: 0 1.25rem;
    position: relative;
    color: #fff;
}

header,
main,
footer {
    position: relative;
    z-index: 1;
}