/* ===============================
Página: blog
=============================== */
body.blog {
    margin: 0;
    background: #000;
    color: #fff;
    text-align: center;
    font-size: 1.2rem; /* aumenta tamaño base en Blog */
}

/* Título principal "Blog" */
body.blog > main > h1 {
    font-size: 2.6rem;
    font-weight: 800;
    margin: 1rem 0 0.5rem;
}
