/* ===============================
Página: contacto
=============================== */
body.contacto {
    background: #000;
    color: #fff;
    padding: 0; /* anula el padding global para evitar franjas laterales */
    overflow-x: hidden; /* asegura que no haya desbordes horizontales */
}

body.contacto .header-contacto {
    background: #000000;
    padding: 0.5em 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2em;
}

body.contacto .texto-central {
    color: black;
    position: absolute;
    top: 30%;
    left: 10%;
    font-size: 400%;
}

body.contacto h1 {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}