body.contacto .form-contacto {
    background: #ffffff;
    color: #222;
    padding: 12em;
    display: flex;
    gap: 7em;
    justify-content: center;
}

body.contacto .form-col {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 2em;
    font-size: 150%;
}

body.contacto .form-col input,
body.contacto .form-col textarea {
    width: 100%;
    padding: 2em;
    border: none;
    background: #a5a1a1;
    border-radius: 4px;
}

body.contacto .titulo-form {
    text-align: center;
    font-size: 1.3em;
    font-weight: bold;
    margin-top: 1em;
}