body.contacto .menu-navegacion-contacto {
    display: flex;
    gap: 2em;
    align-items: center;
}

body.contacto .menu-navegacion-contacto a {
    color: #222;
    text-decoration: none;
    font-weight: bold;
}
